[user]
        name = {{ full_name }}
        email = {{ git_email }}
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        editor = vim
[mergetool]
        keepBackup = false
[github]
        user = {{ git_user }}
