package_upgrade: yes
packages_apt:
  - ansible
  - build-essential
  - curl
  - docker-compose
  - docker.io
  - flameshot
  - fzf
  - htop
  - keepassxc
  - make
  - signal-desktop
  - terminator
  - wget
  - xclip
  - xdotool

packages_deb:
  - https://discordapp.com/api/download?platform=linux&format=deb

#remove_packages:

apt_key:
  - { url: 'https://updates.signal.org/desktop/apt/keys.asc', id: 'DBA36B5181D0C816F630E889D980A17457F6FB06'}

apt_repository:
  - { repo: 'deb [arch=amd64] https://updates.signal.org/desktop/apt xenial main', file: 'signal-xenial.list' }
